exportPattern("^[[:alpha:]]+")
import(dplyr)
importFrom("grDevices", "cairo_pdf", "colorRampPalette")
importFrom("methods", "is")
importFrom("stats", "IQR", "addmargins", "anova", "as.formula",
           "binomial", "chisq.test", "coef", "complete.cases",
           "delete.response", "glm", "glm.control", "lm",
           "median", "model.frame", "model.matrix", "na.omit",
           "plogis", "pnorm", "qnorm", "quantile", "sd", "terms",
           "update", "vcov")
importFrom("utils", "write.csv")
